<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e6c2b849-fc99-44a7-b027-515ea0f0303f/resourcegroups/MetisCloudPoc/providers/Microsoft.Web/sites/CustomerCustomerApiDev</ResourceId>
    <ResourceGroup>MetisCloudPoc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://CustomerCustomerApidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2f8abbbb-ab0f-4b9f-8a88-32c7954a2db2</ProjectGuid>
    <PublishUrl>https://CustomerCustomerApidev.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CustomerCustomerApiDev</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>